# Derived from React official: https://github.com/facebook/react/blob/fccf3a9fba5fd778c678657c556344b333111cfb/.editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 9999
trim_trailing_whitespace = true
