@import "reactflow/dist/base.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.overlay.overlay {
  display: block;
	min-width: 300px;
	max-width: 400px;
	height: fit-content+20px;
  text-transform: none;
  &, &:hover {
    background: #e6e4f2;
  }
	border-radius: 10px;
	border-color: #686372;
	border-style: solid;
	box-shadow: 0 0 20px 0 #bebcc5;
	padding: 5px;
	padding-bottom: 15px;
	font-family: 'Inter', sans-serif !important;
	text-align: center;
	color: #0a021c;
	position: absolute;
	top: 2em;
	left: 2em;
	z-index: 100;
}

.questlineTask {
  font-size: 13pt;
  font-weight: bold;
}
