/*
 * Take over styling from React Flow by importing base.css instead of style.css.
 * This is now needed as we are reusing the default node name for our own styles.
 */
@import "reactflow/dist/base.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root > main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.react-flow__edge-path {
  stroke-width: 2;
  stroke: grey;
}

main > main {
  flex-grow: 1;
  width: 100%;
}

div.react-flow__node {
  /* padding: 10px 28px 10px 13px; */
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap:12px;
  align-items: flex-start;
  align-self: stretch;

  box-sizing: border-box; /*for printing*/
  min-height: 42px;
  width: 186px; /* fixed */

  background: #FFF9C1; /* #DAEFFF for ready task, #DDF9E8 for complete task, #F5FBFF for locked */
  border: 1px solid dimgrey;
  border-radius: 8px;  

  &:focus-within {
    outline: 1px solid dimgrey;
  }

  & > .content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;

    & > .node-icon-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
	  margin-top: -1px;

      & > div[aria-label] {
        height: 20px;
        width: 22px;
        filter: invert(.41) opacity(.8);
		scale: 0.85;
      }
    }
  }

  & > button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    /* width: content; */
    padding: 6px 8px;
    gap: 6px;
    
    background: none;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.60);

    color: rgba(0, 0, 0, 0.60);
    /* font-family: Inter; */
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      filter: brightness(95%);
      cursor: pointer;
    }

  }

  &.hovered {
	outline: 2px solid rgba(105, 105, 105, 0.7);
  }
}

div.react-flow__node:hover {
  filter: brightness(95%);
}

.seamless-editor, div.react-flow__node {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  word-break: break-word;
}

.seamless-editor {
  flex: 1 0 0 ;
  appearance: none;
  background: none;
  border: none;
  /* outline is all 4 sides, and border makes the element grow by 1 pixel when editing */
  box-shadow: 0 1px 0 dimgrey;
  /* color: initial; this turns input text font grey on Apple devices, -webkit-text-fill-color is the workaround*/
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  outline: none;
  margin: 0;
  padding: 0;
  resize: none;
  /* width: 100%; */

  &[disabled] {
    pointer-events: none;
    box-shadow: none;
  }
}

div.react-flow__node-goal {
  outline: 1px solid rgba(105, 105, 105, 0.7);
  outline-offset: 3px;

  &:focus-within {
    outline: 2px solid #555;
    outline-offset: 3px;
    border: 1px solid #555;
  }
}

div.react-flow__node-ready {
  background: #F5FBFF; 

  & > .content-wrapper {
    & > .node-icon-wrapper {
      & > div[aria-label] {
        /* background-image: url('@material-design-icons/svg/filled/spa.svg'); */
        width: 0px;
        height: 0px;
      } 
    }   
  }
}

div.react-flow__node-locked {
  background: #DAEFFF;
}

div.react-flow__node-complete {
  background: #DDF9E8;
}

div.react-flow__handle.source {
  top: 50%;
  pointer-events: none;
  opacity: 0;
}

div.react-flow__node-toolbar > button, button.react-flow__controls-button[data-icon] {
  background-position: center;
  background-repeat: no-repeat;
}

div.react-flow__node-toolbar > button {
  appearance: none;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(105, 105, 105, 0.7);
  border-radius: 32px;

  &:hover{
    filter:brightness(95%);
  }
  
  &:focus{
    outline: 1px solid rgba(105, 105, 105, 0.7);
  }

  &:not(:first-child) {
    margin-left: 4px;
  }

  &[data-icon="delete"] {
    background-image: url('@material-design-icons/svg/filled/delete.svg');
  }

  &[data-icon="enter-subgraph"] {
    background-image: url('@material-design-icons/svg/filled/login.svg');
  }

  &[data-icon="create-subgraph"] {
    background-image: url('../../assets/add_subgraph_icon.svg');
    background-size: 24px;

  }

  &[data-icon="completed"] {
    background-image: url('@material-design-icons/svg/filled/check.svg');
  }

  &[data-icon="incomplete"] {
    background-image: url('@material-design-icons/svg/filled/remove_done.svg');
  }
}

button.react-flow__controls-button[data-icon] {
  background-position: center;
  background-size: 16px 16px;

  &[data-icon="save"] {
    background-image: url('@material-design-icons/svg/filled/save.svg')
  }

  &[data-icon="print"] {
    background-image: url('@material-design-icons/svg/filled/print.svg')
  }
}
