/*
 * Take over styling from React Flow by importing base.css instead of style.css.
 * This is now needed as we are reusing the default node name for our own styles.
 */
@import "reactflow/dist/base.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root > main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > main {
  flex-grow: 1;
  width: 100%;
}

div.react-flow__node {
  padding: 10px 28px 10px 13px;

  min-height: 42px;
  width: 186px; /* fixed */

  background: #FFF9C1; /* #DAEFFF for ready task, #DDF9E8 for complete task, #F5FBFF for locked */
  border: 1px solid dimgrey;
  border-radius: 8px;

  &:focus-within {
    outline: 1px solid dimgrey;
  }

  & > div[aria-label] {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-size: cover;
    filter: invert(.41) opacity(.7);
    /*display: none;*/
  }
}

div.react-flow__node:hover {
  filter: brightness(95%);
}

.seamless-editor, div.react-flow__node {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  word-break: break-word;
}

.seamless-editor {
  appearance: none;
  background: none;
  border: none;
  /* outline is all 4 sides, and border makes the element grow by 1 pixel when editing */
  box-shadow: 0 1px 0 dimgrey;
  /* color: initial; this turns input text font grey on Apple devices, -webkit-text-fill-color is the workaround*/
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  outline: none;
  margin: 0;
  padding: 0;
  resize: none;
  width: 100%;

  &[disabled] {
    pointer-events: none;
    box-shadow: none;
  }
}

div.react-flow__node-goal {
  outline: 1px solid rgba(105, 105, 105, 0.7);
  outline-offset: 3px;

  & > div[aria-label] {
    background-image: url('@material-design-icons/svg/filled/outlined_flag.svg');
  }

  &:focus-within {
    outline: 2px solid #555;
    outline-offset: 3px;
    border: 1px solid #555;
  }
}

div.react-flow__node-ready {
   background: #DAEFFF;

  & > div[aria-label] {
    background-image: url('@material-design-icons/svg/filled/spa.svg');
  }
}

div.react-flow__node-locked {
  background: #F5FBFF;

  & > div[aria-label] {
    background-image: url('@material-design-icons/svg/filled/remove_circle.svg');
  }
}

div.react-flow__node-complete {
  background: #DDF9E8;

  & > div[aria-label] {
    background-image: url('@material-design-icons/svg/filled/check.svg');
  }
}

div.react-flow__handle.source {
  top: 50%;
  pointer-events: none;
  opacity: 0;
}

div.react-flow__node-toolbar > button {
  appearance: none;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 32px;
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;

  &:not(:first-child) {
    margin-left: 4px;
  }

  &[data-icon="delete"] {
    background-image: url('@material-design-icons/svg/filled/delete.svg');
  }

  &[data-icon="enter-subgraph"] {
    background-image: url('@material-design-icons/svg/filled/login.svg');
  }

  &[data-icon="create-subgraph"] {
    background-image: url('@material-design-icons/svg/filled/add.svg');
  }

  &[data-icon="completed"] {
    background-image: url('@material-design-icons/svg/filled/check.svg');
  }

  &[data-icon="incomplete"] {
    background-image: url('@material-design-icons/svg/filled/highlight_off.svg');
  }
}
